.panel.panel-default
	.panel-heading= "Home"
	.panel-body
		p= "Seja bem-vindo a página de exemplo do SuperLegal. Ela já vem com o AngularJS configurado, com uma camada de Controllers, Views e Routes."